# API Gateway WebSocket
# Nota: En frontend/src/services/websocketService.js se usa VITE_WEBSOCKET_URL
VITE_WEBSOCKET_URL=ws://localhost:8080 #Es el valor de que obtienes tras desplegar el backend, lo copias y pegas aquí.
VITE_API_URL=http://localhost:3000
